/* App.css */

body {
  font-family: 'Digital-7 Mono', sans-serif; /* Use a digital style font */
  background-color: #2C3E50; /* Black background */
  color: #AED6F1; /* Light blue text color */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.timer {
  font-size: 2.5rem; /* Adjust the font size for the timer */
  margin-top: 20px;
}

.controls {
  margin-top: 20px;
}

/* Base button styling */
button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px; /* Rounded corners for a modern look */
  cursor: pointer;
  font-weight: bold;
  font-family: 'Roboto', sans-serif; /* Example: Roboto from Google Fonts */
  text-transform: uppercase; /* Modern trend for button text */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

/* Styling for buttons in .controls */
.controls button {
  background: linear-gradient(145deg, #007bff, #00b5fd);
  color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); /* Soft shadow for depth */
}

.controls button:hover {
  background: linear-gradient(145deg, #00b5fd, #007bff);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
  transform: translateY(-2px); /* Slight lift effect */
}

/* Styling for buttons in .settings for consistency */
.settings button {
  background: linear-gradient(145deg, #333, #555);
  color: #101dcf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.settings button:hover {
  background: linear-gradient(145deg, #555, #333);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* Styling for the circles */
circle {
  transition: stroke-dashoffset 0.5s ease-in-out; /* Smooth transition for the stroke-dashoffset */
}

/* Light blue color for the circle representing remaining time */
.remaining-circle {
  stroke: #AED6F1;
}

/* Black color for the circle representing the background */
.background-circle {
  stroke: #2C3E50;
}
.remaining-circle {
  stroke: #2ecc71; /* Change the stroke color to green */
}
